/* @import url('https://fonts.googleapis.com/css2?family=Mali:wght@300;500;600;700&family=Nunito:wght@200&family=Space+Grotesk:wght@300&family=Ubuntu:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300;500;600;700&family=Nunito:wght@200&family=Space+Grotesk:wght@300&family=Ubuntu:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300;500;600;700&family=Nunito:wght@200&family=Space+Grotesk:wght@300&family=Ubuntu:wght@300;400;700&display=swap');
@font-face {
  font-family: Typographica;
  src: url(./assets/fonts/typographica.otf);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-user-drag: none;
}
:root {
  --text-color: hsla(210, 50%, 85%, 1);
  --shadow-color: rgba(182, 84, 114, 0.4);
  --btn-color: #D3165E;
  --bg-color: #141218;
}
body {
  overflow-x: hidden;
  font-family: 'Ubuntu', sans-serif;
  overflow-y: overlay;
}

b {
  font-weight: 600;
  color: inherit
}

html {
  scroll-behavior: smooth;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.flexJustify {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
::-webkit-scrollbar {
  width: 3px;
  height:5px
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 18, 93);
  border-radius: 360px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
